header.header
  .container
    .header-wrapper
      a(href="/").header-logo
        svg(viewBox="0 0 136 33" fill="none" xmlns="http://www.w3.org/2000/svg").hero-logo__item
          path(d="M54.3661 7.60249H43.0209V31.7516H33.8048V7.60249H23.0442V0L54.3661 0V7.60249Z" fill="white")
          path(d="M96.6881 0V31.7516H87.9676V19.3193H70.7323V31.7516H62.0118V0H70.7323V11.7168H87.9676V0H96.6881Z" fill="white")
          path(d="M136 24.1491V31.7516H105.274V0L135.598 0V7.60249H113.995V12.0745H133.63V19.1404H113.995V24.1491H136Z" fill="white")
          path(d="M0 32.2478L12.0025 0.0125732H16.4605L4.45806 32.2478H0Z" fill="#DD0606")

      .header-link
        a(href="#").link.title.title-h3.header-link__item
          | Подключение бота 
