.form {
  border: 1px solid $white;

  @include min(1920) {
    border-width: vw(1);
  }

  &-heading {
    padding: 16px 32px;
    color: $black;
    background-color: $white;

    @include min(1920) {
      padding: vw(16) vw(32);
    }

    @include max("sm") {
      padding: 8px 16px;
    }

    &__title {
      @include max("sm") {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  &-body {
    padding: 32px;

    @include min(1920) {
      padding: vw(32);
    }

    @include max("sm") {
      padding: 16px;
    }

    &__title {
      @include max("sm") {
        font-size: 14px;
        line-height: 16px;
      }
    }

    &__group {
      margin-bottom: 40px;

      @include min(1920) {
        margin-bottom: vw(40);
      }

      @include max("sm") {
        margin-bottom: 32px;
      }

      &--has-error {
        margin-bottom: 28px;

        @include min(1920) {
          margin-bottom: vw(28);
        }

        @include max("sm") {
          margin-bottom: 18px;
        }
      }

      &-title {
        margin-bottom: 24px;

        @include min(1920) {
          margin-bottom: vw(24);
        }
      }
    }
  }
}
