.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid $black71;

  @include min(1920) {
    border-width: vw(1);
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;

    @include min(1920) {
      padding: vw(24) 0;
    }
  }

  &-logo {
    width: 136px;
    height: 33px;

    @include min(1920) {
      width: vw(136);
      height: vw(33);
    }

    &__item {
      width: 100%;
      height: 100%;
    }
  }

  &-link {
    &__item {
      text-decoration: none;
    }
  }
}
