html {
  font-size: 16px;
  line-height: 19px;
}

body {
  font-family: $mainFont;
  color: $white;
  background-color: $black;
}

.container {
  width: 100%;
  max-width: 1688px;
  margin: 0 auto;
}
