html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  @include min(1920) {
    font-size: vw(16);
    line-height: vw(19);
  }

  @include max("sm") {
    font-size: 14px;
    line-height: 16px;
  }
}

body {
  font-family: $mainFont;
  color: $white;
  background-color: $black;
}

header,
section,
footer {
  position: relative;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: $red;
}
::-webkit-scrollbar-track {
  background: $black30;
  border-radius: 0px;
  box-shadow: inset 7px 10px 12px $black30;
}

.container {
  width: 100%;
  max-width: vw(1688);
  margin: 0 auto;

  @include max("sm") {
    margin: 0 16px;
    max-width: none;
    width: auto;
  }
}

.first-section {
  margin-top: 81px;

  @include min(1920) {
    margin-top: vw(81);
  }

  @include max("sm") {
    margin-top: 73px;
  }
}

.main {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -164px;
    right: -28px;
    width: 732px;
    height: 732px;
    border-radius: 50%;
    background: radial-gradient(
      86.95% 86.95% at 102.6% 27.94%,
      #dd0505 0%,
      rgba(221, 5, 5, 0.12) 100%
    );
    opacity: 0.6;
    filter: blur(200px);

    @include min(1920) {
      top: vw(-164);
      right: vw(-28);
      width: vw(732);
      height: vw(732);
      filter: blur(vw(200));
    }

    @include max("sm") {
      top: -400px;
      right: -300px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -244px;
    left: -532px;
    width: 876px;
    height: 876px;
    background: radial-gradient(
      86.95% 86.95% at 102.6% 27.94%,
      #dd0505 0%,
      rgba(221, 5, 5, 0.12) 100%
    );
    opacity: 0.2;
    filter: blur(200px);

    @include min(1920) {
      bottom: vw(-244);
      left: vw(-532);
      width: vw(876);
      height: vw(876);
      filter: blur(vw(200));
    }
  }
}
