.button {
  width: 100%;
  padding: 16px 32px;
  font-weight: 700;
  border: 2px solid $black71;
  color: $white;
  background-color: transparent;
  cursor: pointer;

  @include min(1920) {
    padding: vw(16) vw(32);
  }

  @include max("md") {
    border-color: $red;
    background-color: $red;
  }

  @include max("sm") {
    padding: 12px 24px;
  }

  @include hover {
    border-color: $red-dark;
    background-color: $red-dark;
  }

  &:active {
    border-color: $red;
    background-color: $red;
  }
}
