.error {
  &-caption {
    align-items: center;
    margin-top: 8px;

    @include min(1920) {
      margin-top: vw(8);
    }

    &__icon {
      margin-right: 4px;
      width: 13px;
      height: 14px;

      @include min(1920) {
        margin-right: vw(4);
        width: vw(13);
        height: vw(14);
      }
    }

    &__text {
      color: $red;
    }
  }
}
