/* base */
@import "base/var";
@import "base/reset";
@import "base/fonts";

/* mixin */
@import "base/mixin";

/* UI */
@import "base/ui";

/*libs*/

/* main */
@import "partials/main";

/* components */
@import "partials/header";
@import "partials/footer";

/*blocks*/
