mixin errorCaption(className, text)
  .error-caption(class= className)
    svg(width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg").error-caption__icon
      path(fill-rule="evenodd" clip-rule="evenodd" d="M6.50001 2.12499C3.80762 2.12499 1.62501 4.3076 1.62501 6.99999C1.62501 9.69238 3.80762 11.875 6.50001 11.875C9.19239 11.875 11.375 9.69238 11.375 6.99999C11.375 4.3076 9.19239 2.12499 6.50001 2.12499ZM0.541672 6.99999C0.541672 3.70929 3.20931 1.04166 6.50001 1.04166C9.7907 1.04166 12.4583 3.70929 12.4583 6.99999C12.4583 10.2907 9.7907 12.9583 6.50001 12.9583C3.20931 12.9583 0.541672 10.2907 0.541672 6.99999ZM6.50001 4.29166C6.79916 4.29166 7.04167 4.53417 7.04167 4.83332V6.99999C7.04167 7.29914 6.79916 7.54166 6.50001 7.54166C6.20085 7.54166 5.95834 7.29914 5.95834 6.99999V4.83332C5.95834 4.53417 6.20085 4.29166 6.50001 4.29166ZM5.95834 9.16666C5.95834 8.8675 6.20085 8.62499 6.50001 8.62499H6.50542C6.80458 8.62499 7.04709 8.8675 7.04709 9.16666C7.04709 9.46581 6.80458 9.70832 6.50542 9.70832H6.50001C6.20085 9.70832 5.95834 9.46581 5.95834 9.16666Z" fill="#DD0505")

    span.sup.error-caption__text= text